<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>About <%=shopName%> Shop</h1>
    <p>We sell all sorts of drinks</p>
  </body>
</html>
