<!doctype html>
<html>

<head>
    <title>
        <%=shopName%>
    </title>
</head>

<body>
    <h1>Search the Shop</h1>
    <form action="/search_result" method="GET">
        <input id="search_box" type="text" name="search_text" placeholder="Name">
        <input id="search_box" type="text" name="category" placeholder="Category">
        <input type="submit" value="OK">
    </form>

</body>

</html>