<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

<body>
    <h1>Search the Shop</h1>
    <form action="/search_result" method="GET">
        <input id="search_box" type="text" name="search_text" placeholder="Name">
        <input id="search_box" type="text" name="category" placeholder="Category">
        <input type="submit" value="OK">
    </form>

</body>

</html>